h3{
  display: none;
}
table{
  display: none;
}
button#resetBoard{
  display: none;
}
button#resetScore{
  display: none;
}

html{
  background: url("https://davidkirkconceptart.files.wordpress.com/2015/01/ninja-village.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  color: lightyellow;
  font-size: 50px;
}
#go{
  color: lightgrey;
}
button{
  padding: 10px;
  margin: 30px 10px 10px 10px;
  color: brown;
  background: yellow;
  border-radius: 5px;
}
#player1WinText, #player2WinText{
  color: lightyellow;
  text-align: justify;
  position: absolute;
  top: 10px;
  /*flex: center;*/
}
#player2WinText{
  color: lightyellow;
  text-align: justify;
  position: absolute;
  top: 40px;
  /*flex: center;*/
}
